<!-- # Developed By github.com/@mairhythmhoon  -->
 <!-- this is for only locally running or some critical run -->
  <!-- Not this is Not used in current system -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Two Factor Authentication Mail</title>
    </head>
    
    <body style="font-family: Arial, sans-serif; background:#f9f9f9; padding:20px;">
        <div style="max-width:500px; margin:auto; background:#fff; padding:20px; border-radius:10px; box-shadow:0px 0px 10px #ddd;">
            <div style="background:#f57c00; padding:10px; text-align:center; border-radius:8px 8px 0 0;">
                <h2 style="color:white; margin:0;">Here’s your OTP</h2>
            </div>
            <div style="text-align:center; padding:30px;">
                <h1 style="color:#333;">{******}</h1>
                <p style="color:green; font-size:18px; font-weight:bold;">OTP Generated Successfully</p>
                <p style="color:#555;">Use this OTP to verify your login. Do not share with anyone.</p>
            </div>
            <div style="background:#f9f9f9; padding:10px; text-align:center; border-top:1px solid #eee;">
                <p style="font-size:12px; color:#777;">For any service related queries,
please contact <strong>parmarridham952009@gmail.com</strong></p>
            </div>
        </div>
    </body>
</html>